body {
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
  color: #354042;
}

h5 {
  color: #7CB5EC;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 20px 0;
}

.appHeader {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

.tableContainer {
  height: 400px;
  min-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
}

.mainTableInfo {
  h5, p {
      width: 80%;
        margin: 20px auto;
  }
}

.mainTable {
  margin-bottom: 10px;
  width: 100%;
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  tr {
    background: #f6f6f6;

    &:nth-child(odd) {
      td {
        background: #e9e9e9;
      }
    }
  }

  th {
    background: #7CB5EC;
    color: #fff;
    font-weight: normal;
    padding: 6px 12px;
  }

  td {
    text-align: center;
    padding: 6px 12px;

    li {
      list-style: none;
      padding: 3px 0;
    }

    p.gender {
      text-transform: capitalize;
    }
  }
}

footer {
  background-color: #e0e0e0;
  font-size: 11px;
  text-align: center;
  padding: 20px 0 25px;
  margin-top: 40px;
}
