body {
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  margin: 0;
  color: #354042;
}

h5 {
  color: #7CB5EC;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 20px 0;
}

.appHeader {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}


.mainTableInfo {
  h5, p {
      width: 80%;
        margin: 20px auto;
  }
}

footer {
  background-color: #e0e0e0;
  font-size: 11px;
  text-align: center;
  padding: 20px 0 25px;
  margin-top: 40px;
}
